* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.banner {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.panel {
    flex: 1;
    transition: all 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left {
    background-image: linear-gradient(#6666df, rgba(0, 0, 0, 0.4)), url("img/ps5.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.right {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/xbox.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.banner.hoverLeft .left {
    flex: 1.3;
    transform: scale(1.1);
}

.banner.hoverLeft .right {
    flex: 0.7;
    transform: scale(1);
}

.banner.hoverRight .right {
    flex: 1.3;
    transform: scale(1.1);
}

.banner.hoverRight .left {
    flex: 0.7;
    transform: scale(1);
}

button {
    width: 120px;
    height: 50px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.btnl:hover {
    background-color: #6666df;
}

.btnr:hover {
    background-color: rgb(0, 155, 0);
}